ipython
Ipython
black
pylint
pytest
huggingface_hub
dotenv
markdownify
smolagents
requests
duckduckgo_search
pandas
gradio
langchain
langchain_community
rank_bm25
helium
langgraph
langchain
langchain_openai
langchain_huggingface
langchain_google_genai
langchain_core
langfuse
llama_index
llama_index.llms.huggingface_api
llama_index.retrievers.bm25
llama_index.tools.duckduckgo