ipython
Ipython
black
pylint
pytest
huggingface_hub
dotenv
markdownify
smolagents
requests
duckduckgo_search
pandas
gradio
langchain
langchain_community
rank_bm25
helium
langgraph
langchain_openai
langchain_huggingface
langchain_google_genai