ipython
black
pylint
pytest
huggingface-hub
python-dotenv
markdownify
smolagents
requests
duckduckgo_search
pandas
gradio
langchain
langchain-community
rank-bm25
helium
langgraph
langchain-openai
langchain-huggingface
langchain-google-genai
langchain-core
langfuse
llama-index
llama-index-llms-huggingface-api
llama-index-retrievers-bm25
llama-index-tools-duckduckgo
bitsandbytes
peft
trl
tensorboardX
wandb
smolagents[telemetry]
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-smolagents
langfuse
datasets
smolagents[gradio]
google-generativeai
poke-env
